<div class="tw-w-screen">
  <p-table
    #dt2
    [value]="exceptionList"
    [(selection)]="selectedExceptions"
    [columns]="cols"
    dataKey="uid"
    styleClass="p-datatable-gridlines p-datatable-striped"
    [rows]="rows"
    [rowsPerPageOptions]="ROW_PER_PAGE_DEFAULT_LIST"
    [first]="first"
    [showCurrentPageReport]="true"
    [loading]="loading"
    [paginator]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    sortField="modifiedDate"
    [sortOrder]="-1"
    [currentPageReportTemplate]="
      '{first} - ' + (nextData | async) + ' of {totalRecords}'
    "
    (onPage)="pageChange($event)"
    class="table"
  >
    <ng-template pTemplate="caption">
      <div class="tw-flex tw-justify-between tw-items-center">
        <div
          class="search-div tw-flex tw-items-center tw-gap-[var(--content-gap)]"
        >
          <app-base-input
            [placeholder]="'Search Keyword'"
            [fieldControl]="searchFormControl"
            [showClear]="true"
          ></app-base-input>

          <app-base-dropdown
            [options]="searchOptions"
            [fieldControl]="searchOptionsFormControl"
            [showClear]="false"
          ></app-base-dropdown>
        </div>

        <div class="action-div tw-flex">
          <app-base-button
            [iconName]="'pi pi-trash'"
            [outlined]="true"
          ></app-base-button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr class="">
        <th><p-tableHeaderCheckbox /></th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }} <p-sortIcon [field]="col.field" />
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr class="" (click)="onRowSelect(rowData)">
        <td><p-tableCheckbox [value]="rowData" /></td>
        <td *ngFor="let col of columns" [pTooltip]="rowData[col.field]">
          <div *ngIf="col.field === 'modifiedDate'" class="text-dots">
            {{ formatDate(rowData[col.field]) | date : "dd/MM/yyyy HH:mm:ss" }}
          </div>
          <div *ngIf="col.field !== 'modifiedDate'" class="text-dots">
            {{ rowData[col.field] }}
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="13">No Records found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
